.toggle-btn {
    position: absolute;
    right: -1px; /* Posisikan tombol di tepi sidebar */
    top: 17px; /* Sesuaikan posisi vertikal */
    z-index: 1000; /* Pastikan tombol di atas elemen lain */
    border-radius: 50%; /* Membuat tombol bulat */
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tambahkan shadow untuk efek 3D */
}

.sidebar-hidden .toggle-btn {
    right: -30px; /* Sesuaikan posisi saat sidebar disembunyikan */
}

.content-expanded {
    margin-left: 0; /* Sesuaikan margin saat sidebar disembunyikan */
}