#sidebar {
    width: 250px;
    margin-top: 50px; /* Atur sesuai keinginan */
    min-height: 100vh;
    transition: all 0.3s ease-in-out;
    background: #f8f9fa;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar-hidden {
    transform: translateX(-100%);
}
.content-wrapper {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
    width: 100%;
}
.content-expanded {
    margin-left: 0;
}